<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>mainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>Servlet.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServelt</servlet-name>
        <servlet-class>Servlet.ItemServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemServlet</servlet-name>
        <servlet-class>Servlet.UpdateItemServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>Servlet.BillServlet</servlet-class>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>Servlet.ReceiptServlet</servlet-class>
    </servlet>-->
<!--    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>Servlet.ReportServlet</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/mainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServelt</servlet-name>
        <url-pattern>/ItemServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemServlet</servlet-name>
        <url-pattern>/UpdateItemServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/ReceiptServlet</url-pattern>
    </servlet-mapping>-->
<!--    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
